/* @import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');  */
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
body {
  margin: 0;
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Righteous', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2193b0, #6dd5ed); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2193b0, #6dd5ed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
